
#introduction{
    margin: 2rem 0;
}

#countdown{
    font-size: 2.4rem;
}
.weddingimg{
    margin-bottom:0.5rem;
    filter:grayscale(25%);
}
#countdown{
    margin-bottom:3rem;
}
.and{
    font-size:2.6rem;

}
#introduction h2{
    margin-bottom:0.2rem;
}