
#introduction{
    margin-top:4rem;
    margin-bottom:2rem;
}
#introduction::before {
  content: "";
  display: block;
  height: 1rem; /* Matches nav height */
  margin-top: 4rem; /* Negative value to counteract height */
}

#countdown{
    font-size: 2.4rem;
}
.weddingimg{
    max-width: 60%;
    margin-bottom:0.5rem;
    filter:grayscale(25%);
}
#countdown{
    margin-bottom:3rem;
}
.and{
    font-size:2.6rem;

}
#introduction h2{
    margin-bottom:0.2rem;
}

.timegrid{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom:2rem;
}

.timestamp{
    font-size: 0.8rem;
}
.meetcute img{
    max-width: 100%;
}
.meetcute{
    max-width:50%;
    
}
.meetcute p{
    font-style: italic;
    line-height: 1.2rem;
}

@media only screen and (max-width: 900px) {
    .meetcute{
    max-width:80%;
    
}
.weddingimg{
    max-width: 100%;
}

}