#dinner{
margin-bottom:2rem;
max-width: 70%;
}

#dinner img{
    margin-bottom:0.6rem;
}
#dinner h3{
    margin-top:1.6rem;
}

.dinneraddress{
        display: block;
    margin:1rem 0;
} 
#dinneraddress{
    color:red;
}