#dinner{
margin-bottom:2rem;
max-width: 640px;
}

#dinner img{
    margin-bottom:0.6rem;
}
#dinner h2{
    margin-bottom:0.6rem;
}

.dinneraddress{
    display: block;
    margin-top:0.6rem;

} 
#dinneraddress{
    color:red;
}