
#peoplepage {
  margin: 2rem 2rem 2rem 2rem;
  font-family: Arial, sans-serif;
  color: #333;
}


#peoplepage h2 {
  margin: 2rem 0 1rem 0;
  font-size: 2rem;
  color: #222;
}
.guestlistGrid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: start;
  width:100%;
  gap:1rem;
  margin:0.4rem 0;
}
.peopletablediv {
  overflow-x: auto;
  margin-top: 1rem;
}

.explainBtns{
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding:0.2rem;
  transition: background-color 0.2s;
}
.peopletablediv button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}
.updateBtn,.allowBtn{
background-color: #1976d2;
}

.peopletablediv button:hover {
  background-color: #125ea0;
}


.deleteGuestBtn {
  background-color: #d32f2f;
}

.deleteGuestBtn:hover {
  background-color: #a82323;
}

.guestCard{
  background-color: white;
  justify-content: center;
  text-align: center;
}
.cardButtons{
  gap:0.6rem;
  max-height: 1.8rem;
}


@media (max-width: 768px) {
  .peopletablediv {
    overflow: visible;
  }
.guestlistGrid{
  margin:0.06rem 0;
}

  .guestCard {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }


  .guestCard p {
    font-size: 0.95rem;
  }

  .guestCard p strong {
    display: inline-block;
    width: 100px;
  }
}