#invitation{
    max-width:640px;
    margin-bottom:2rem;
    background-color: white;
    padding:1rem;

}
#invitation p{
    text-align: left;
}
#invitation h2{
    margin-bottom:0.6rem;
}
button:disabled{
    opacity: 0.6;
}
#invitation form {
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}

.rsvpDeadline{
    font-size: 1rem;
    font-weight: bold;
    margin:0.6rem 0;
}
.latestReply{
    color:#f02c59;
    font-size:1.1rem;
    font-weight: bold;
}
.selectHint{
    font-size:1.4rem;
    font-weight: bold;
    margin-bottom:0.6rem;
}

#invitation select{
    padding:0.4rem;
    font-size: 1rem;
}
.selectGuestBtn{
    gap:1rem;
    display: flex;
    flex-direction: column;
}



/* @media (min-width: 460px) {
    #invitation{
        width:100%;
    }
} */