#invitation{
    text-align: center;
    margin-top:2rem;
    margin-bottom:1rem;
    background-color: white;
    padding:1rem;
    max-width:70%;
}
#invitation h2{
    margin-bottom:1rem;
}
button:disabled{
    opacity: 0.6;
}
#invitation form {
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}

.rsvpDeadline{
    font-weight: bold;
}
.latestReply{
    color:#f02c59;
    font-size:1.1rem;
    font-weight: bold;
}
.selectHint{
    font-size:1.4rem;
    font-weight: bold;
    margin:0.6rem 0;
}