#speech{
    margin-top:1.4rem;
    background-color: white;
    padding:1rem;
    max-width:70%;
}
#speech h2{
    margin-bottom:0.6rem;

}
.speechInfo{

    gap:1rem;
}

.aboutspeech p{
    font-weight: bold;
    text-align: center;
}

.aboutspeech{
    margin: 1rem 0;
}
.showspeechbtn{
    width:8rem;
}
.showspeechbtn:hover{
    filter:brightness(80%);
}

.latestReply{
    color:#f02c59;
    font-size:1.1rem;
    font-weight: bold;
}