#speech h2{
    margin-bottom:0.6rem;

}

.aboutspeech p{
    margin:0.5rem 0;
    text-decoration: underline;
}
.aboutspeech p:last-of-type{
    font-weight: bold;
}
.aboutspeech{
    margin: 1rem 0;
}
.showspeechbtn{
    width:8rem;
}
.showspeechbtn:hover{
    filter:brightness(80%);
}