#speech{
    background-color: white;
    padding:1rem;
    max-width:70%;
    margin-bottom:2rem;
}
#speech h2{
    margin-bottom:0.6rem;
}
.speechInfo{
    gap:0.6rem;
}

.aboutspeech p{
    font-weight: bold;
    text-align: center;
}

.aboutspeech{
    margin: 0.6rem 0;
}

.showspeechbtn:hover{
    filter:brightness(80%);
}

.latestReply{
    color:#f02c59;
    font-size:1.1rem;
    font-weight: bold;
}