#answerpage{
    margin:2rem 2rem;
}   

#answers table{
  margin-top:1rem;
    max-width:90%;
    border-collapse: collapse;
}
#answers td, th {
  word-break: break-word;
  text-align: center;
  vertical-align: middle;
}
#answers th {
  word-break: normal;
}
.copyBtn{
  margin-left:0.6rem;
    cursor: pointer;
}
.copiedBtn{

    filter:brightness(0.6)
}
.check{
    color:rgb(77, 77, 77);
}
.deleteRsvp{
  color:white;
  background-color:#d32f2f;
  border:none;
  border-radius: 0.2rem;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  cursor: pointer;
}
.deleteRsvpBtn{
  min-height: 1.8rem;
}

@media (max-width: 674px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr, thead tr th {
    display: none;
  }
  tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  td {
    text-align: right;
    padding-left: 40%;
    position: relative;
    padding-bottom: 0.5rem;
  }
  td::before {
    display: none;
  }
}