#navigationtester{
    display:flex;
}
.added{
    display:flex;
    margin-top:1rem;
    padding-bottom:0.2rem;
}
.added img{
    max-width: 2rem;
    margin-right:1rem;
}
.wrapper{
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}