#navigationtester{
    display:flex;
}
.added{
    gap:0.2rem;
    margin-top:1rem;
    padding-bottom:2rem;
}

.wrapper{
    max-width: 960px;
    padding:0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.theEnd{
    font-size: 0.7rem;
    vertical-align:text-top;

}